{% extends 'layout.html' %} {% block content %}
<div class="flex flex-col p-7">
  <p class="text-white font-bold text-center md:text-left text-3xl">
    Change Password
  </p>

  <div class="pt-12 flex flex-col items-center md:items-start">
    <form action="" method="post" class="space-y-10">
      <div class="text-white space-y-2">
        <p class="font-semibold">Old Password</p>
        <input
          class="
            px-4
            md:w-96
            bg-gray-800
            hover:bg-gray-700
            rounded-lg
            border-2 border-transparent
            hover:border-indigo-500
          "
          type="password"
          name="oldpassword"
          id="oldpassword"
          placeholder="Your old password"
          value=""
        />
      </div>

      <div class="text-white space-y-2">
        <p class="font-semibold">New Password</p>
        <input
          class="
            px-4
            md:w-96
            bg-gray-800
            hover:bg-gray-700
            rounded-lg
            border-2 border-transparent
            hover:border-indigo-500
          "
          type="password"
          name="newpassword"
          id="newpassword"
          placeholder="Make a new password"
          value=""
        />
      </div>

      <div class="text-white space-y-2">
        <p class="font-semibold">Confirm Password</p>
        <input
          class="
            px-4
            md:w-96
            bg-gray-800
            hover:bg-gray-700
            rounded-lg
            border-2 border-transparent
            hover:border-indigo-500
          "
          type="password"
          name="confirmpassword"
          id="confirmpassword"
          placeholder="Confirm new password"
          value=""
        />
      </div>

      <div class="text-center md:text-right">
        <button type="submit" class="text-indigo-500 hover:text-indigo-700">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-16 w-16"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </form>

    <div class="text-indigo-300 pt-16 font-semibold">
      <a href="/accounts">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 inline-block"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="align-middle hover:underline">Go back</span>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
