{% extends 'layout.html' %} {% block content %}
<div class="md:mr-24">
  <div class="p-7">
    <p class="text-white font-bold text-center md:text-left text-5xl">Maps</p>
    <ul
      class="
        flex flex-wrap
        md:grid md:grid-cols-2
        pt-12
        anton
        text-white text-center text-4xl
        justify-center
        md:justify-start
        gap-5
      "
    >
      <li
        class="
          shadow-2xl
          border-4 border-gray-700
          rounded-lg
          relative
          transition
          duration-100
          bg-gradient-to-t
          from-black
          overflow-hidden
          hover:border-indigo-500
          hover:bg-gradient-to-t
          hover:from-indigo-500
        "
      >
        <a href="/map_details" class="block bg-transparent p-1.5">
          <img
            class="opacity-70 transform duration-200 hover:scale-105"
            src="/static/images/ascent.png"
            title="ASCENT"
            alt=""
          />
          <span class="absolute pointer-events-none inset-x-0 bottom-8"
            >ASCENT</span
          >
        </a>
      </li>

      <li
        class="
          shadow-2xl
          border-4 border-gray-700
          rounded-lg
          relative
          transition
          duration-100
          bg-gradient-to-t
          from-black
          overflow-hidden
          hover:border-indigo-500
          hover:bg-gradient-to-t
          hover:from-indigo-500
        "
      >
        <a href="" class="block bg-transparent p-1.5">
          <img
            class="opacity-70 transform duration-200 hover:scale-105"
            src="/static/images/split.png"
            title="SPLIT"
            alt=""
          />
          <span class="absolute pointer-events-none inset-x-0 bottom-8"
            >SPLIT</span
          >
        </a>
      </li>

      <li
        class="
          shadow-2xl
          border-4 border-gray-700
          rounded-lg
          relative
          transition
          duration-100
          bg-gradient-to-t
          from-black
          overflow-hidden
          hover:border-indigo-500
          hover:bg-gradient-to-t
          hover:from-indigo-500
        "
      >
        <a href="" class="block bg-transparent p-1.5">
          <img
            class="opacity-70 transform duration-200 hover:scale-105"
            src="/static/images/bind.png"
            title="BIND"
            alt=""
          />
          <span class="absolute pointer-events-none inset-x-0 bottom-8"
            >BIND</span
          >
        </a>
      </li>

      <li
        class="
          shadow-2xl
          border-4 border-gray-700
          rounded-lg
          relative
          transition
          duration-100
          bg-gradient-to-t
          from-black
          overflow-hidden
          hover:border-indigo-500
          hover:bg-gradient-to-t
          hover:from-indigo-500
        "
      >
        <a href="" class="block bg-transparent p-1.5">
          <img
            class="opacity-70 transform duration-200 hover:scale-105"
            src="/static/images/breeze.png"
            title="BREEZE"
            alt=""
          />
          <span class="absolute pointer-events-none inset-x-0 bottom-8"
            >BREEZE</span
          >
        </a>
      </li>

      <li
        class="
          shadow-2xl
          border-4 border-gray-700
          rounded-lg
          relative
          transition
          duration-100
          bg-gradient-to-t
          from-black
          overflow-hidden
          hover:border-indigo-500
          hover:bg-gradient-to-t
          hover:from-indigo-500
        "
      >
        <a href="" class="block bg-transparent p-1.5">
          <img
            class="opacity-70 transform duration-200 hover:scale-105"
            src="/static/images/icebox.png"
            title="ICEBOX"
            alt=""
          />
          <span class="absolute pointer-events-none inset-x-0 bottom-8"
            >ICEBOX</span
          >
        </a>
      </li>

      <li
        class="
          shadow-2xl
          border-4 border-gray-700
          rounded-lg
          relative
          transition
          duration-100
          bg-gradient-to-t
          from-black
          overflow-hidden
          hover:border-indigo-500
          hover:bg-gradient-to-t
          hover:from-indigo-500
        "
      >
        <a href="" class="block bg-transparent p-1.5">
          <img
            class="opacity-70 transform duration-200 hover:scale-105"
            src="/static/images/haven.png"
            title="HAVEN"
            alt=""
          />
          <span class="absolute pointer-events-none inset-x-0 bottom-8"
            >HAVEN</span
          >
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
