{% extends 'layout.html' %} {% block content %}
<div class="md:mr-24">
  <div class="flex flex-col h-screen justify-center items-center space-y-12">
    <!-- prettier-ignore -->
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="text-center text-indigo-300">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <p class="text-white font-bold text-center text-3xl">Welcome, Admin!</p>
    <!-- if not logged in, show this button -->
    {% if session['loggedin'] == True and session.get('role_id') == 0 %}
    <!-- if logged in, show this button -->
    <div class="text-white text-center font-semibold">
      <div class="grid md:grid-cols-2 md:grid-rows-2 gap-4">
        <div>
          <a href="/manage_agents">
            <div class="px-12 py-3 bg-gray-800 rounded-lg hover:bg-gray-700">
              Agents
            </div>
          </a>
        </div>
        <div>
          <a href="/manage_weapons">
            <div class="px-12 py-3 bg-gray-800 rounded-lg hover:bg-gray-700">
              Weapons
            </div>
          </a>
        </div>
        <div class="col-span-2">
          <a href="/manage_maps">
            <div class="px-12 py-3 bg-gray-800 rounded-lg hover:bg-gray-700">
              Maps
            </div>
          </a>
        </div>
        <!-- <div>
          <a href="/manage_news">
            <div class="px-12 py-3 bg-gray-800 rounded-lg hover:bg-gray-700">
              News
            </div>
          </a>
        </div> -->
      </div>
      <div class="grid mt-12 md:grid-cols-2 md:grid-rows-1 gap-4">
        <div>
          <a href="/">
            <div
              class="px-12 py-3 bg-indigo-500 rounded-lg hover:bg-indigo-400"
            >
              Main Page
            </div>
          </a>
        </div>
        <div>
          <a href="/logout">
            <div class="px-12 py-3 bg-red-500 rounded-lg hover:bg-red-400">
              Logout
            </div>
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="flex flex-col text-white text-center font-semibold space-y-4">
      <a href="/login">
        <div
          class="
            px-12
            py-2
            bg-gray-800
            rounded-lg
            border-4 border-transparent
            hover:bg-gray-700
          "
        >
          Login
        </div>
      </a>
      <a href="/register_admin">
        <div
          class="
            px-12
            py-2
            bg-indigo-500
            rounded-lg
            border-4 border-transparent
            hover:bg-indigo-400
          "
        >
          Register Admin
        </div>
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
