{% extends 'layout.html' %} {% block content %}
<div class="p-7">
  <p class="text-white font-bold text-center md:text-left text-5xl">
    Weapon Details
  </p>
  <div
    class="pt-12 flex flex-wrap md:flex-nowrap justify-center md:justify-start"
  >
    {% for row in weapon_data %}
    <div
      class="
        md:h-48
        shadow-2xl
        border-4 border-gray-700
        rounded-lg
        transition
        relative
        duration-100
        bg-gradient-to-t
        from-black
        overflow-hidden
        hover:border-indigo-500
        hover:bg-gradient-to-t
        hover:from-indigo-500
      "
    >
      <div class="block bg-transparent p-1.5">
        <img
          class="transform md:pt-3 duration-200 hover:scale-105"
          src="/static/images/{{ row.img }}"
          title="{{ row.name }}"
        />
        <span
          class="
            absolute
            anton
            text-white text-center text-3xl
            pointer-events-none
            inset-x-0
            bottom-3
            uppercase
          "
          >{{ row.name }}</span
        >
      </div>
    </div>
    <div
      class="
        pt-10
        md:pt-0
        md:pl-10
        md:w-1/2
        text-center
        md:text-left
        flex flex-row
        space-x-4
      "
    >
      <div class="space-y-7">
        <p class="anton text-white text-4xl uppercase">{{ row.category }}</p>
        <div class="text-white space-y-2">
          <p class="font-semibold">
            // <span class="underline">Primary Fire</span>
          </p>
          <p class="break-words">
            Fire Rate:&nbsp;{{ row.pfr }}&nbsp;rounds/sec
          </p>
        </div>
        <div class="text-white space-y-2">
          <p class="font-semibold">
            // <span class="underline">Alt Fire</span>
          </p>
          <p>Fire Rate:&nbsp;{{ row.afr }}&nbsp;rounds/sec</p>
        </div>
        <div class="text-white space-y-2">
          <p class="font-semibold">// <span class="underline">Damage</span></p>
          <p>
            Body&nbsp;{{ row.body_dmg }}&ensp;|&ensp;Head&nbsp;{{ row.head_dmg
            }}&ensp;|&ensp;Leg&nbsp;{{ row.leg_dmg }}
          </p>
        </div>
        <div class="text-white space-y-2">
          <p>
            Magazine Capacity:&nbsp;{{ row.mag }}<br />
            Wall Penetration:&nbsp;{{ row.wp }}
          </p>
        </div>
        <div class="text-indigo-300 font-semibold">
          <a href="/weapons">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 inline-block"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="align-middle hover:underline">Go back</span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
