{% extends 'layout.html' %} {% block content %}
<div class="p-7">
  <p class="text-white font-bold text-center md:text-left text-5xl">Weapons</p>
  <ul
    class="
      flex flex-wrap
      pt-12
      anton
      text-white text-center text-3xl
      justify-center
      md:justify-start
      gap-5
    "
  >
    {% for row in weapon_data %}
    <li
      class="
        w-80
        h-36
        shadow-2xl
        border-4 border-gray-700
        rounded-lg
        transition
        relative
        duration-100
        bg-gradient-to-t
        from-black
        overflow-hidden
        hover:border-indigo-500
        hover:bg-gradient-to-t
        hover:from-indigo-500
      "
    >
      <a href="/weapon_details/{{ row.id }}" class="block bg-transparent p-1.5">
        <img
          class="transform pt-1 duration-200 hover:scale-105"
          src="/static/images/{{ row.img }}"
          title="{{ row.name }}"
          alt=""
        />
        <span class="absolute pointer-events-none inset-x-0 bottom-2 uppercase"
          >{{ row.name }}</span
        >
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
