{% extends "layout.html" %} {% block content %}
<!-- main content -->
<div class="p-7">
  <p class="text-white font-bold text-center md:text-left text-5xl">Agents</p>
  <!-- agents items -->
  <ul
    class="
      flex flex-wrap
      pt-12
      anton
      text-white text-center text-4xl
      justify-center
      md:justify-start
      gap-5
    "
  >
    <li
      class="
        shadow-2xl
        border-4 border-gray-700
        rounded-lg
        relative
        transition
        duration-100
        bg-gradient-to-t
        from-black
        overflow-hidden
        hover:border-indigo-500
        hover:bg-gradient-to-t
        hover:from-indigo-500
      "
    >
      <a href="" class="block bg-transparent p-1.5">
        <img
          class="opacity-70 transform duration-200 hover:scale-105"
          src="/static/images/jett.png"
          title="JETT"
          alt=""
        />
        <span class="absolute pointer-events-none inset-x-0 bottom-8"
          >JETT</span
        >
      </a>
    </li>

    <li
      class="
        shadow-2xl
        border-4 border-gray-700
        rounded-lg
        relative
        transition
        duration-100
        bg-gradient-to-t
        from-black
        overflow-hidden
        hover:border-indigo-500
        hover:bg-gradient-to-t
        hover:from-indigo-500
      "
    >
      <a href="/agent_details" class="block bg-transparent p-1.5">
        <img
          class="opacity-70 transform duration-200 hover:scale-105"
          src="/static/images/raze.png"
          title="RAZE"
          alt=""
        />
        <span class="absolute pointer-events-none inset-x-0 bottom-8"
          >RAZE</span
        >
      </a>
    </li>

    <li
      class="
        shadow-2xl
        border-4 border-gray-700
        rounded-lg
        relative
        transition
        duration-100
        bg-gradient-to-t
        from-black
        overflow-hidden
        hover:border-indigo-500
        hover:bg-gradient-to-t
        hover:from-indigo-500
      "
    >
      <a href="" class="block bg-transparent p-1.5">
        <img
          class="opacity-70 transform duration-200 hover:scale-105"
          src="/static/images/breach.png"
          title="BREACH"
          alt=""
        />
        <span class="absolute pointer-events-none inset-x-0 bottom-8"
          >BREACH</span
        >
      </a>
    </li>

    <li
      class="
        shadow-2xl
        border-4 border-gray-700
        rounded-lg
        relative
        transition
        duration-100
        bg-gradient-to-t
        from-black
        overflow-hidden
        hover:border-indigo-500
        hover:bg-gradient-to-t
        hover:from-indigo-500
      "
    >
      <a href="" class="block bg-transparent p-1.5">
        <img
          class="opacity-70 transform duration-200 hover:scale-105"
          src="/static/images/omen.png"
          title="OMEN"
          alt=""
        />
        <span class="absolute pointer-events-none inset-x-0 bottom-8"
          >OMEN</span
        >
      </a>
    </li>
  </ul>
</div>
{% endblock content %}
